{% extends 'base.html' %}

{% block content %}
<div class="box-container">
    <h1>Portfolio</h1>

</div>

<ul class="portfolio-list">
    <li class="portfolio-item" onclick="toggleDetails('max1')">
        <span>Max Mustermann – Künstliche Intelligenz</span>
        <img class="expand-icon" src="static/images/expand.svg" alt="Expand">
    </li>
    <div id="max1" class="portfolio-details">
        <div class="portfolio-text">
            <h3>Max Mustermann</h3>
            <p><strong>Fachgebiet:</strong> Künstliche Intelligenz</p>
            <p><strong>Erfahrung:</strong> 5 Jahre in neuronalen Netzwerken</p>
            <p><strong>Bildung:</strong> Master in Informatik</p>
            <p><strong>Beruf:</strong> KI-Forscher bei TechAI GmbH</p>
            <p><strong>Fähigkeiten:</strong></p>
            <ul>
                <li>Deep Learning</li>
                <li>Python & TensorFlow</li>
                <li>Datenanalyse</li>
            </ul>
            <p><strong>Email:</strong> max@beispiel.de</p>
        </div>
        <img src="static/images/max.jpg" alt="Max Mustermann">
    </div>

    <ul class="portfolio-list">
        <li class="portfolio-item" onclick="toggleDetails('max2')">
            <span>Max Mustermann – Künstliche Intelligenz</span>
            <img class="expand-icon" src="static/images/expand.svg" alt="Expand">
        </li>
        <div id="max2" class="portfolio-details">
            <div class="portfolio-text">
                <h3>Max Mustermann</h3>
                <p><strong>Fachgebiet:</strong> Künstliche Intelligenz</p>
                <p><strong>Erfahrung:</strong> 5 Jahre in neuronalen Netzwerken</p>
                <p><strong>Bildung:</strong> Master in Informatik</p>
                <p><strong>Beruf:</strong> KI-Forscher bei TechAI GmbH</p>
                <p><strong>Fähigkeiten:</strong></p>
                <ul>
                    <li>Deep Learning</li>
                    <li>Python & TensorFlow</li>
                    <li>Datenanalyse</li>
                </ul>
                <p><strong>Email:</strong> max@beispiel.de</p>
            </div>
            <img src="static/images/max.jpg" alt="Max Mustermann">
    </div>

    <ul class="portfolio-list">
        <li class="portfolio-item" onclick="toggleDetails('max3')">
            <span>Max Mustermann – Künstliche Intelligenz</span>
            <img class="expand-icon" src="static/images/expand.svg" alt="Expand">
        </li>
        <div id="max3" class="portfolio-details">
            <div class="portfolio-text">
                <h3>Max Mustermann</h3>
                <p><strong>Fachgebiet:</strong> Künstliche Intelligenz</p>
                <p><strong>Erfahrung:</strong> 5 Jahre in neuronalen Netzwerken</p>
                <p><strong>Bildung:</strong> Master in Informatik</p>
                <p><strong>Beruf:</strong> KI-Forscher bei TechAI GmbH</p>
                <p><strong>Fähigkeiten:</strong></p>
                <ul>
                    <li>Deep Learning</li>
                    <li>Python & TensorFlow</li>
                    <li>Datenanalyse</li>
                </ul>
                <p><strong>Email:</strong> max@beispiel.de</p>
            </div>
            <img src="static/images/max.jpg" alt="Max Mustermann">
    </div>

    <ul class="portfolio-list">
        <li class="portfolio-item" onclick="toggleDetails('max4')">
            <span>Max Mustermann – Künstliche Intelligenz</span>
            <img class="expand-icon" src="static/images/expand.svg" alt="Expand">
        </li>
        <div id="max4" class="portfolio-details">
            <div class="portfolio-text">
                <h3>Max Mustermann</h3>
                <p><strong>Fachgebiet:</strong> Künstliche Intelligenz</p>
                <p><strong>Erfahrung:</strong> 5 Jahre in neuronalen Netzwerken</p>
                <p><strong>Bildung:</strong> Master in Informatik</p>
                <p><strong>Beruf:</strong> KI-Forscher bei TechAI GmbH</p>
                <p><strong>Fähigkeiten:</strong></p>
                <ul>
                    <li>Deep Learning</li>
                    <li>Python & TensorFlow</li>
                    <li>Datenanalyse</li>
                </ul>
                <p><strong>Email:</strong> max@beispiel.de</p>
            </div>
            <img src="static/images/max.jpg" alt="Max Mustermann">
    </div>

    <ul class="portfolio-list">
        <li class="portfolio-item" onclick="toggleDetails('max5')">
            <span>Max Mustermann – Künstliche Intelligenz</span>
            <img class="expand-icon" src="static/images/expand.svg" alt="Expand">
        </li>
        <div id="max5" class="portfolio-details">
            <div class="portfolio-text">
                <h3>Max Mustermann</h3>
                <p><strong>Fachgebiet:</strong> Künstliche Intelligenz</p>
                <p><strong>Erfahrung:</strong> 5 Jahre in neuronalen Netzwerken</p>
                <p><strong>Bildung:</strong> Master in Informatik</p>
                <p><strong>Beruf:</strong> KI-Forscher bei TechAI GmbH</p>
                <p><strong>Fähigkeiten:</strong></p>
                <ul>
                    <li>Deep Learning</li>
                    <li>Python & TensorFlow</li>
                    <li>Datenanalyse</li>
                </ul>
                <p><strong>Email:</strong> max@beispiel.de</p>
            </div>
            <img src="static/images/max.jpg" alt="Max Mustermann">
    </div>

    <ul class="portfolio-list">
        <li class="portfolio-item" onclick="toggleDetails('max6')">
            <span>Max Mustermann – Künstliche Intelligenz</span>
            <img class="expand-icon" src="static/images/expand.svg" alt="Expand">
        </li>
        <div id="max6" class="portfolio-details">
            <div class="portfolio-text">
                <h3>Max Mustermann</h3>
                <p><strong>Fachgebiet:</strong> Künstliche Intelligenz</p>
                <p><strong>Erfahrung:</strong> 5 Jahre in neuronalen Netzwerken</p>
                <p><strong>Bildung:</strong> Master in Informatik</p>
                <p><strong>Beruf:</strong> KI-Forscher bei TechAI GmbH</p>
                <p><strong>Fähigkeiten:</strong></p>
                <ul>
                    <li>Deep Learning</li>
                    <li>Python & TensorFlow</li>
                    <li>Datenanalyse</li>
                </ul>
                <p><strong>Email:</strong> max@beispiel.de</p>
            </div>
            <img src="static/images/max.jpg" alt="Max Mustermann">
    </div>

    <ul class="portfolio-list">
        <li class="portfolio-item" onclick="toggleDetails('max7')">
            <span>Max Mustermann – Künstliche Intelligenz</span>
            <img class="expand-icon" src="static/images/expand.svg" alt="Expand">
        </li>
        <div id="max7" class="portfolio-details">
            <div class="portfolio-text">
                <h3>Max Mustermann</h3>
                <p><strong>Fachgebiet:</strong> Künstliche Intelligenz</p>
                <p><strong>Erfahrung:</strong> 5 Jahre in neuronalen Netzwerken</p>
                <p><strong>Bildung:</strong> Master in Informatik</p>
                <p><strong>Beruf:</strong> KI-Forscher bei TechAI GmbH</p>
                <p><strong>Fähigkeiten:</strong></p>
                <ul>
                    <li>Deep Learning</li>
                    <li>Python & TensorFlow</li>
                    <li>Datenanalyse</li>
                </ul>
                <p><strong>Email:</strong> max@beispiel.de</p>
            </div>
            <img src="static/images/max.jpg" alt="Max Mustermann">
    </div>

    <li class="portfolio-item" onclick="toggleDetails('lisa')">
        <span>Lisa Musterfrau – Hardware Entwicklung</span>
        <img class="expand-icon" src="static/images/expand.svg" alt="Expand">
    </li>
    <div id="lisa" class="portfolio-details">
        <div class="portfolio-text">
            <h3>Lisa Musterfrau</h3>
            <p><strong>Fachgebiet:</strong> Hardware Entwicklung</p>
            <p><strong>Erfahrung:</strong> 7 Jahre in IoT-Design</p>
            <p><strong>Email:</strong> lisa@beispiel.de</p>
        </div>
        <img src="static/images/lisa.jpg" alt="Lisa Musterfrau">
    </div>
</ul>
{% endblock %}
